a.navBtn {
  display: inline-block;
  font-size: 1.6rem;
  height: 3.2rem;
  padding: 0.4rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.644);
}
a.navBtn:hover {
  background-color: rgba(19, 13, 13, 0.863);
  border: #4f3131 3px solid;
  padding: 0.3rem;
  color: #ffaf80;
}
