a.navBtn {
    display: inline-block;
    font-size: 1.6rem;
    height: 3.2rem;
    padding:0.4rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87) ;
    border-radius: 2rem;
    // border: rgba(22, 22, 22, 0.712) 3px solid;
    background-color:rgba(0, 0, 0, 0.644);
    &:hover {
        background-color: rgba(19, 13, 13, 0.863);
        border:lighten($color: rgb(32, 20, 20), $amount: 15%) 3px solid;
        padding:0.3rem;
        color:rgb(255, 175, 128);
        // border: black 2px solid;
    }


}