a.navBtn {
    display: inline-block;
    font-size: 1.6rem;
    height: 3.2rem;
    padding:0.4rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87) ;
    border-radius: 2rem;
    // border: rgba(22, 22, 22, 0.712) 3px solid;
    background-color:rgba(0, 0, 0, 0.644);
    &:hover {
        background-color: lighten($color: #000000, $amount: 20%);
        color:rgb(253, 253, 253);
        // border: black 2px solid;
    }


}