
.orderInfoMain{
    position: relative;
    top:4rem;
    margin: auto ;
    padding:1rem;
    // border: rgb(149, 149, 149) 2px solid;
    width:90vw;
    // height:100vh;
    color:rgb(255, 255, 255); 
    background-color: #35190355;
    border-radius: 1rem;;

    .react-bootstrap-table{
        margin: auto;
        .table-bordered{
            color: rgba(255, 255, 255, 0.781);
            border-color: hotpink;
            
            .expand-cell-header{
                width:3rem;
                color:#9E4700;
                font-weight: 400;                
            }
            th{
                font-weight: border;
                font-size: 1.2rem;
                text-align: center;
            }
            tr{
                text-align: center;
            }
            .react-bootstrap-table-sort-order{
                color:white
            }
            .expand-cell{
                width:2rem;
                color:#702218;
            }
            .expandedHeaderColor{color:#5D2B06}
            .expandedColor{
                color:#864251;
                
            }
            .row-expansion-style{
                padding:1rem;
            }

        }
        .tablehead{
            border-bottom: grey 2px solid;
            font-weight: bolder;
        }
        .orderDetailExpanded{
            color:white;
            text-align: right;
            &:nth-child(2n-1) {
                background: rgba(0, 0, 0, 0.856);
            }
            td{
                background-color: rgba(255, 255, 255, 0.137);
                width:50rem;
                border: 0;
                vertical-align: middle;
            }
            .thumbnailUrl{
                height: 4rem;
                border-radius: 10px;
            }
        }

    }
    .divOrderBtn{
        padding:1rem;
        width:100%;
    }
    .btnGetAllOrder{
        display: flex;
        justify-content: center;
        vertical-align: middle;
        background-color: #815954; 
        font-weight: bolder;
        border-radius: 5rem;
        margin: auto;
        padding:0.4rem;
            &:hover{
                background-color: #A7904C; 
            }
        &:focus{
            outline:none;
        }
    }
}