.orderInfoMain {
  position: relative;
  top: 4rem;
  margin: 3%;
  width: 90vw;
  height: 100vh;
  color: white;
}
.orderInfoMain .react-bootstrap-table {
  margin: 0.5rem;
}
.orderInfoMain .react-bootstrap-table .table-bordered {
  color: white;
}
.orderInfoMain .react-bootstrap-table .table-bordered .expand-cell-header {
  width: 3rem;
  color: #e05454;
  font-weight: 400;
}
.orderInfoMain .react-bootstrap-table .table-bordered th {
  font-weight: border;
  font-size: 1.2rem;
  text-align: center;
}
.orderInfoMain .react-bootstrap-table .table-bordered tr {
  text-align: center;
}
.orderInfoMain .react-bootstrap-table .table-bordered .react-bootstrap-table-sort-order {
  color: white;
}
.orderInfoMain .react-bootstrap-table .table-bordered .expand-cell {
  width: 2rem;
  color: #c965e7;
}
.orderInfoMain .react-bootstrap-table .table-bordered .expandedHeaderColor {
  color: #fd83c4;
}
.orderInfoMain .react-bootstrap-table .table-bordered .expandedColor {
  color: deeppink;
}
.orderInfoMain .react-bootstrap-table .table-bordered .expand-cell td {
  background-color: yellow;
}
.orderInfoMain .react-bootstrap-table .orderDetailExpanded {
  color: white;
  text-align: right;
}
.orderInfoMain .react-bootstrap-table .orderDetailExpanded:nth-child(2n-1) {
  color: #ffd7de;
}
.orderInfoMain .btnGetAllOrder {
  display: inline-flex;
  justify-content: center;
  background-color: #a7a7a7;
  border-radius: 5rem;
  padding: 0.4rem;
}
.orderInfoMain .btnGetAllOrder button {
  font-size: 2rem;
}
.orderInfoMain .btnGetAllOrder button:hover {
  background-color: #cccccc;
}
