@use '../../../styles/base/base.scss';
html,body{
    background-color: black;
    color:white;
}
.prodCard {
    position: relative;
    border: deeppink 2px solid;
    width: 80%;
    
    
    .cateName { 
        color: yellow;
        display: block;
        display: flex;
        justify-content: center;
        
    }
    .groupProd {
        display: inline-block;
        border:lime 2px solid;
        width:200px;
        height:30%;
        li{
            list-style-type: none;
        }
        .prodImg {
            width: 150px;
        }
    }
    

}


