html,
body {
  background-color: black;
  color: white;
}

.prodCard {
  width: 100%;
}
.prodCard .cateName {
  color: white;
  text-align: center;
  border-bottom: #444444 2px solid;
  padding: 0.4rem;
}
.prodCard .groupProd {
  margin: 5px;
  background-color: rgba(68, 48, 48, 0.185);
  display: inline-block;
  border: rgba(255, 255, 255, 0.281) 3px solid;
  border-radius: 5px;
  margin: 0.8rem;
  width: 15rem;
  height: 19rem;
  text-align: center;
  padding: 0.4rem;
}
.prodCard .groupProd span {
  padding: 0.5rem;
}
.prodCard .groupProd .thumbnail {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.prodCard .groupProd .thumbnail img {
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
}
