

html,
body {
    background-color: black;
    color: white;
}


.prodCard {
    // position: relative;
    border: rgb(192, 255, 192) 2px solid;
    width: 100%;


    .cateName {
        color: gold;
        text-align: center;
        border: cadetblue 1px solid;

    }

    .groupProd {
        margin: 5px;
        background-color: rgba(126, 126, 126, 0.315);
        display: inline-block;
        border: lime 2px solid;
        border-radius: 5px;
        margin: 1rem;
        width: 15rem;
        height: 19rem;
        text-align: center;

        // li{
        //     list-style-type: none;
        // }
        span {
            padding: 0.5rem;
        }

        .thumbnail {
            border: blue 1px solid;
            width: 90%;
            height: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.5rem; // go center
            background-color: rgba(255, 255, 255, 0.274);
            border-radius: 5px;

            img {
                border-radius: 5px;
            }
        }
    }


}