

html,
body {
    background-color: black;
    color: white;
}


.prodCard {
    // position: relative;
    // border: rgb(192, 255, 192) 2px solid;
    width: 100%;


    .cateName {
        color: white;
        text-align: center;
        border-bottom: rgb(68, 68, 68) 2px solid;
        padding:0.4rem;
    }

    .groupProd {
        margin: 5px;
        background-color: rgba(68, 48, 48, 0.185);
        display: inline-block;
        border: rgba(255, 255, 255, 0.281) 3px solid;
        border-radius: 5px;
        margin: 0.8rem;
        width: 15rem;
        height: 19rem;
        text-align: center;
        padding:0.4rem;

        // li{
        //     list-style-type: none;
        // }
        span {
            padding: 0.5rem;
        }

        .thumbnail {
            // border: blue 1px solid;
            width: 100%;
            height: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            // margin: 0.5rem; // go center
            border-radius: 5px;

            img {
                border-radius: 5px;
                display: inline-flex;
                justify-content: center;
            }
        }
    }


}