html,
body {
  background-color: black;
  color: white;
}

.prodCard {
  border: #c0ffc0 2px solid;
  width: 100%;
}
.prodCard .cateName {
  color: gold;
  text-align: center;
  border: cadetblue 1px solid;
}
.prodCard .groupProd {
  margin: 5px;
  background-color: rgba(126, 126, 126, 0.315);
  display: inline-block;
  border: lime 2px solid;
  border-radius: 5px;
  margin: 1rem;
  width: 15rem;
  height: 19rem;
  text-align: center;
}
.prodCard .groupProd span {
  padding: 0.5rem;
}
.prodCard .groupProd .thumbnail {
  border: blue 1px solid;
  width: 90%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 5px;
}
.prodCard .groupProd .thumbnail img {
  border-radius: 5px;
}
