html,
body {
  background-color: black;
  color: white;
}

.prodCard {
  width: 100%;
}
.prodCard .cateName {
  color: white;
  text-align: center;
  border-bottom: #444444 2px solid;
  padding: 0.4rem;
}
.prodCard .groupProd {
  margin: 5px;
  background-color: #1a1515;
  display: inline-block;
  border: rgba(255, 255, 255, 0.281) 3px solid;
  border-radius: 5px;
  margin: 0.8rem;
  width: 15rem;
  height: 19rem;
  text-align: center;
  padding: 0.4rem;
}
.prodCard .groupProd:hover {
  background-color: #332d2c;
}
.prodCard .groupProd:hover .thumbnail {
  transform: scale(1.1);
  transition: all 1s ease-in;
}
.prodCard .groupProd:hover .fa-cart-arrow-down {
  transform: translateY(20%);
  transition: all 1s ease-in;
}
.prodCard .groupProd .fa-cart-arrow-down {
  transform: translateY(-20%);
  transition: all 1s ease-in-out;
}
.prodCard .groupProd span {
  padding: 0.5rem;
}
.prodCard .groupProd .btn {
  background-color: #A7904C;
}
.prodCard .groupProd .thumbnail {
  width: 90%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
}
.prodCard .groupProd .thumbnail img {
  border-radius: 5px;
}
