.shopCartItem {
  border-bottom: #815954 1px solid;
  width: 130%;
  margin-left: -3rem;
  color: #E4DEC9;
  font-size: 0.8rem;
}
.shopCartItem .fas {
  color: #CDC4A3;
}

.btnCheckOut {
  background-color: #A7904C;
}
