// .cartBody {
//     right:5px;
//     top:0;
//     position:fixed;
//     // float:right;
//     margin: 5% 2.5% 5% 2.5%;
//     width: 25%;
//     max-height:90%;
//     border: rgba(184, 184, 184, 0.699) 2px solid;
//     border-radius: 5px;
//     overflow-y:scroll;
.shopCartItem {
    // position: relative;
    border-bottom: #815954 1px solid;
    width: 130%;
    margin-left: -3rem;
    color:#E4DEC9;
    font-size: 0.8rem;
    .fas{
        color:#CDC4A3;
    }
}
.btnCheckOut{
    background-color: #A7904C;
}

// }
// .cartBodyFloat {
//     margin: 0% 10%;
//     position: fixed;
//     border: red 2px solid;
//     background-color: rgb(34, 31, 31);
//     bottom: 0;
//     float: left;
//     width: 80%;
// }