@charset "UTF-8";
.inputField {
  margin-left: 0.7rem;
  padding: 0.4rem;
}
.inputField span { 
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.418);
  vertical-align: middle;
  position: relative;
  transform: rotate(160deg);
  margin-left: 1.3rem;
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
}
.inputField input {
  font-size: 1rem;
  color: white;
  border: none;
  padding: 10px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.212);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  border-radius: 20px;
  letter-spacing: 0.15rem;
}
.inputField input:focus {
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  transition: 1s;
  
}

@keyframes iptFocus {
  from {
    background-color: rgba(255, 255, 255, 0.575);
  }
  to {
    background-color: rgba(255, 255, 255, 0.175);
  }
}
.inputCheckValid {
  width: 90%;
  height: 39px;
}
.inputCheckValid + span {
  position: relative;
}
.inputCheckValid + span::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: bold;
  content: "";
  color: deeppink;
  right: 0rem;
}
.inputCheckValid:invalid + span::before {
  display: none;
}
