button {
  background-color: red;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5px 20px;
  margin: 1rem;
  display: block;
  height: 39px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: #ff3333;
  box-shadow: 0px 4px 35px -5px #ff3333;
  cursor: pointer;
}
button:focus {
  outline: none;
}
