@charset "UTF-8";
.inputField1 {
  margin-left: 0.7rem;
  padding: 0.4rem;
}
.inputField1 span {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.418);
  vertical-align: middle;
  position: relative;
  transform: rotate(160deg);
  margin-left: 1.3rem;
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
}
.inputField1 input {
  font-size: 1rem;
  color: white;
  border: none;
  padding: 10px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.212);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  border-radius: 20px;
  letter-spacing: 0.15rem;
}
.inputField1 input:focus {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.23);
  transition: 3s;
}

@keyframes iptFocus {
  from {
    background-color: rgba(255, 255, 255, 0.575);
  }
  to {
    background-color: rgba(255, 255, 255, 0.175);
  }
}
.inputCheckValid {
  width: 90%;
  height: 39px;
}
.inputCheckValid + span {
  position: relative;
}
.inputCheckValid + span::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: bold;
  content: "";
  color: deeppink;
  right: 0rem;
}
.inputCheckValid:invalid + span::before {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: #020c16;
  color: white;
}

.b-displayNone {
  display: none;
}

.b-textCenter {
  text-align: center;
}

.b-flexStart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5px;
}

.b-flexCenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.b-ulStyleNone {
  list-style-type: none;
}

.b-imgContainer {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

img {
  max-width: 90%;
  max-height: 90%;
}

.b-btnGolden {
  display: block;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: #beac74;
  border: #beac74 2px solid;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.b-btnGolden:hover {
  color: #bbbbba;
  background-color: #beac74;
  transition-duration: 0.3s;
  border-radius: 20px;
}
.b-btnGolden:focus {
  outline: none;
  box-shadow: none;
}



.btnClose {
  color: white;
  font-size: 1.5rem;
}
.btnClose:hover {
  color: #fafa97;
}

.pointer {
  cursor: pointer;
}

.modal-dialog {
  width: 92%;
  background-color: #04192d;
}

.modal-content {
  letter-spacing: 0.1rem;
  background-color: #04192d;
  padding: 1rem;
}
.modal-content input[type=radio] {
  display: none;
}
.modal-contentspan {
  font-size: 1rem;
}
.modal-content .modal-header h5 {
  margin-left: 1rem;
  font-weight: bold;
}
.modal-content .modal-header .headerLogin,
.modal-content .modal-header .headerSignup,
.modal-content .modal-header .headerPwdReset {
  display: none;
}
.modal-content .modal-header .userIcon, .modal-content .modal-header .returnArrow {
  font-size: 1.25rem;
}
.modal-content .modal-header .radioLogin:checked ~ .userIcon,
.modal-content .modal-header .radioLogin:checked ~ .headerLogin {
  display: block;
}
.modal-content .modal-header .radioLogin:checked ~ .returnArrow {
  display: none;
}
.modal-content .modal-header .radioSignup:checked ~ .userIcon {
  display: none;
}
.modal-content .modal-header .radioSignup:checked ~ .headerSignup {
  display: block;
}
.modal-content .modal-header .radioPwdReset:checked ~ .userIcon {
  display: none;
}
.modal-content .modal-header .radioPwdReset:checked ~ .headerPwdReset {
  display: block;
}
.modal-content .modal-body {
  height: 500px;
  position: relative;
}
.modal-content .modal-body .formLogin,
.modal-content .modal-body .formSignup,
.modal-content .modal-body .formPwdReset {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: 1s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.modal-content .modal-body .flipToLogin:checked ~ .formLogin {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}
.modal-content .modal-body .flipToSignup:checked ~ .formSignup {
  transform: rotate(0);
}
.modal-content .modal-body .flipToPwdReset:checked ~ .formPwdReset {
  transform: rotate(0);
}
.modal-content input[required] {
  width: 90%;
  height: 39px;
}
.modal-content input[required] + span {
  position: relative;
}
.modal-content input[required] + span::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: bold;
  content: "";
  color: #01a301;
  right: 0rem;
}
.modal-content input[required]:invalid + span::before {
  display: none;
}
.modal-content .btnLoginEmail {
  background-color: #062645;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5px 20px;
  margin: 1rem;
  display: block;
  height: 39px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.modal-content .btnLoginEmail:hover {
  background: #0b3f74;
  box-shadow: 0px 4px 35px -5px #0b3f74;
  cursor: pointer;
}
.modal-content .btnLoginEmail:focus {
  outline: none;
}
.modal-content .btnLoginGoogle {
  background-color: #7a0042;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5px 20px;
  margin: 1rem;
  display: block;
  height: 39px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.modal-content .btnLoginGoogle:hover {
  background: #ad005d;
  box-shadow: 0px 4px 35px -5px #ad005d;
  cursor: pointer;
}
.modal-content .btnLoginGoogle:focus {
  outline: none;
}
.modal-content .btnRegister {
  background-color: rgba(73, 30, 30, 0.685);
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5px 20px;
  margin: 1rem;
  display: block;
  height: 39px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.modal-content .btnRegister:hover {
  background: rgba(109, 45, 45, 0.685);
  box-shadow: 0px 4px 35px -5px rgba(109, 45, 45, 0.685);
  cursor: pointer;
}
.modal-content .btnRegister:focus {
  outline: none;
}
.modal-content .btnResetPassword {
  background-color: rgba(73, 30, 30, 0.685);
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #FFF;
  padding: 5px 20px;
  margin: 1rem;
  display: block;
  height: 39px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.modal-content .btnResetPassword:hover {
  background: rgba(109, 45, 45, 0.685);
  box-shadow: 0px 4px 35px -5px rgba(109, 45, 45, 0.685);
  cursor: pointer;
}
.modal-content .btnResetPassword:focus {
  outline: none;
}
