@use '../../styles/buttonGlory/buttonGlory.scss';
@use '../../styles/inputField1/inputField1.scss';
@use '../../styles/base/base.scss';

$royalblue:base.$colorRoyalBlue;
$colorGoogleRed:base.$colorGoogleRed;

.modal-dialog{
    // margin-left:0%;
    width: 92%;
    // height: 550px;
    // border: blue 2px solid;
    background-color: lighten($royalblue,5%); 
}
.modal-content {
    // height: 90%;
    letter-spacing: 0.1rem;
    background-color: lighten($royalblue,5%);

    padding:1rem;
    input[type="radio"]{
        display:none;
    }
    &span{
        font-size:1rem;
    }
    .modal-header {
        h5 {
            margin-left:1rem;
            font-weight: bold;
        }
        // .headerLogin{
        //     margin-left:2.3rem;
        // }
        .headerLogin,
        .headerSignup,
        .headerPwdReset {
            display: none;
        }
        .userIcon,.returnArrow{
            font-size:1.25rem;
        }
        .radioLogin:checked~ {
            .userIcon,
            .headerLogin {
                display: block;
            }
            .returnArrow {
                display: none;
            }
        }
        .radioSignup:checked~{
            .userIcon {
                display: none;
            }
            .headerSignup{
                display: block;
            }
        }
        .radioPwdReset:checked~{
            .userIcon {
                display: none;
            }
            .headerPwdReset {
            display: block;
        }
        }
    }

    .modal-body {
        height: 500px;
        position: relative;
        .formLogin,
        .formSignup,
        .formPwdReset {
            position: absolute;
            top: 0;
            left:0;
            bottom: 0;
            right:0;
            // border: deeppink 2px solid;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            transition: 1s;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
        }

        .flipToLogin:checked~.formLogin {
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
        }

        // .formSignup,
        .flipToSignup:checked~.formSignup {
            transform: rotate(0);
        }

        // .formPwdReset
        .flipToPwdReset:checked~.formPwdReset {
            transform: rotate(0);
        }
    }
    
    input[required]{
        @include inputField1.inputCheckValid(1rem, rgb(1, 163, 1), 0.5)
    }
    .btnLoginEmail{
        @include buttonGlory.getSigninButton(lighten($royalblue,10%), 90%)
    }
    .btnLoginGoogle{
    
        @include buttonGlory.getSigninButton(darken($colorGoogleRed,30%), 90%)
    }
    .btnRegister{
        @include buttonGlory.getSigninButton(rgba(73, 30, 30, 0.685), 90%)
    }
    .btnResetPassword{
        @include buttonGlory.getSigninButton(rgba(73, 30, 30, 0.685), 90%)
    }
  

    
}


